body{
    background-color: rgb(152, 152, 152);
}
.main-form{
    margin-left: 567px;
}
h1 {
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
}

form {
    background-color: rgb(214, 214, 214);
    padding: 5em;
    border-radius: 10px;
}

label {
    font-size: 1.2em;
    font-weight: 500;
}
.navbar-brand{
    color:rgb(53, 180, 248)
}